# Secrets
.env

# Virtualenv
.venv/

# Python caches
__pycache__/
*.pyc

# pytest cache
.pytest_cache/

# IDE
.idea/

# Test artifacts
test-results/
allure-results/
allure-report/

# State
playwright/.auth/storage_state.json

#Verification Code
test-results/email_code.txt

# DataBase
/seo.db
/ifindcheaters_dev.sql
/mock_qa.db
mock_qa.db
